:root {
  --color-one: #001f5c;
  --color-two: #294378;
  --color-three: rgb(150, 147, 147);
  --color-four: #fff;
  --gradient: linear-gradient(
    var(--color-one) 25%,
    var(--color-two) 50%,
    rgb(100, 100, 100) 15%,
    var(--color-three) 10%
  );
  --box-shadow: 10px 10px 10px (0, 0, 0, 0.6);
}
.App body {
  color: var(--color-four);
  padding: 0 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-four);
}

.Header Nav.Link {
  color: #61dafb;
}

.App .App-footer {
  color: var(--color-four);
  font-style: italic;
}
.Home Nav.Link {
  color: var(--color-three);
  text-decoration: none;
}
