:root {
  --color-one: #001f5c;
  --color-two: #294378;
  --color-three: rgb(150, 147, 147);
  --color-four: #fff;
  --gradient: linear-gradient(
    var(--color-one) 25%,
    var(--color-two) 50%,
    var(--color-three) 25%
  );
}

.App {
  text-align: center;
  background: var(--gradient);
  color: var(--gradient);
}

@media (display: 700px) {
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-three);
}

.App-link {
  color: #61dafb;
}

.App .App-footer {
  color: var(--color-four);
  font-style: italic;
}
